/* Selectorr Id se usa "#" */
/* Selector clase se usa "." */

#selectorId {
    color: #8c54fb 
}

.selectorClase{
    color:#e11d48
}

h4{
    background-color: #8c54fb;
}

.contenedor p {
    color: #e11d48;
}

.caja{
    width: 100px;
    height: 100px;
    background-color: #6b7280;
    border-radius: 1rem; /* 1rem = 16px por defecto */
    text-align: center;
}

.caja-mediana{
    width: 200px;
    height: 200px;
    background-color: #6b7280;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 10px;
}

.caja-grande{
    width: 300px;
    height: 300px;
    background-color: #8c54fb;
    border-radius: 1rem; /* 1rem = 16px por defecto */
    text-align: center;
}

.em{
    font-size: 2em;
}

.rem{
    font-size: 2rem;
}

.porcentaje{
    width: 50%;
    height: 50%;
    background-color: #8c54fb;
}

.vh{
    height: 10vh;
    background-color: #8c54fb;
}

.vw{
    width: 10vw;
    background-color: #8c54fb;
}

.bg-color{
    background-color: #e11d48;
}

.bg-img{
    background-image: url('./img/bg-pattern.jpg');
    background-size: cover;
    background-position: center;
}

.bg-repeat{
    background-image: url('./img/bg-repeat.png');
    background-repeat: repeat;
}

.bg-attach{
    background-image: url('./img/bg-pattern.jpg');
    background-attachment: fixed;
}

.bg-position{
    background-image: url('./img/bg-pattern.jpg');
    background-size: contain;
    background-position: center;
}

.bg-size{
    background-image: url('./img/messi.webp');
    background-position: center;
    background-size: cover;

}

.color p{
    color: crimson;
}

.caja-shadow{
    background: #8c54fb;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.offset-XY{
    box-shadow: 10px 10px;
}

.blurRadius{
    box-shadow: 10px 10px 5px;

}


.opacity{
    box-shadow: 10px 10px 5px 5px rgba(220, 20, 60, 0.84);
}
.inset{
    box-shadow: inset 10px 10px 5px 5px rgba(220, 20, 60, 0.84) ;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.font-fa{
    font-family: "Comic Neue", cursive;
    font-weight: 700;
}

.font-we{
    font-weight:lighter;
}

.font-st{
    font-style: italic;
}

.font-sz{
    font-size: 20px;
}
.letter-spa{
    letter-spacing: 20px;
}

.word-spa{
    word-spacing: 20px;
}

.lines{
    line-height: 20px;
}

.align{
    text-align:end ;
}

.text-transform{
    text-transform: lowercase;
}

.deco{
    text-decoration: line-through;
}

.list-style{
    list-style-type: none;
}
.listType{
    list-style-type:lower-alpha;
    list-style-position: outside;
    background: #e11d48;
}

.list-img{
    list-style-image: url('./img/messi-list-img.jpg');
    list-style-position: inside;
}